.productList {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;

}

.itemAdded {

    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 150px;
    height: 80px;
    border-radius: 5px;
    background-color: rgb(58, 153, 58);
    font-size: 1.2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}